// BRAND
$brand-color: #8155A5;
$brand-color-hover: #7F53A4;
$brand-color-active: #73429B;

$accent-color: #A1D064;
$accent-color-hover: #97CB53;
$accent-color-active: #8DC642;

// GRAYS
$black: #000;
$gray-01: #F9F9F9;
$gray-02: #F2F2F2;
$gray-03: #E5E5E5;
$gray-04: #D8D8D8;
$gray-05: #CCCCCC;
$gray-06: #BFBFBF;
$gray-07: #B2B2B2;
$gray-08: #A5A5A5;
$gray-09: #999999;
$gray-10: #8C8C8C;
$gray-11: #7F7F7F;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4C4C4C;
$gray-16: #3F3F3F;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0C0C0C;
$gray-21: #070707;
$white: #fff;