// BRAND
$brand-white: #F3EFF6;
$brand-xx-light: #DCD0E6;
$brand-x-light: #C5B1D6;
$brand-light: #AE92C5;
$brand-medium: #9773B5;
$brand-color: #8155A5;
$brand-hover: #764E96;
$brand-active: #6A4688;
$brand-dark: #53376A;
$brand-x-dark: #3B274B;
$brand-xx-dark: #24182D;
$brand-black: #0C080F;
$brand-focus-outline: #931fc3;

$accent-color: #A1D064;
$accent-hover: #97CB53;
$accent-active: #8DC642;

// GRAYS
$black: #000;
$gray-01: #F9F9F9;
$gray-02: #F2F2F2;
$gray-03: #E5E5E5;
$gray-04: #D8D8D8;
$gray-05: #CCCCCC;
$gray-06: #BFBFBF;
$gray-07: #B2B2B2;
$gray-08: #A5A5A5;
$gray-09: #999999;
$gray-10: #8C8C8C;
$gray-11: #7F7F7F;
$gray-12: #727272;
$gray-13: #666666;
$gray-14: #595959;
$gray-15: #4C4C4C;
$gray-16: #3F3F3F;
$gray-17: #333333;
$gray-18: #262626;
$gray-19: #191919;
$gray-20: #0C0C0C;
$gray-21: #070707;
$white: #fff;