@import '../../styles/main';

.intake-form {
  &__container {
    padding: 0 1rem 1rem 1rem;
  }
  &__field-title {
    margin: 0;
    margin-left: 1rem;
    &:first-child {
      margin-top: 1rem;
    }
  }
  &__field-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    padding: 1rem;
  }
  &__parent-controls-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  &__add-button-icon {
    margin-right: 0.5rem;
  }
  &__delete-button {
    margin-left: 1rem;
  }
}